[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "3.15.3"
python-dotenv = "0.21.0"
websocket-client = "1.4.1"
rel = "*"
pillow = "*"
bson = "*"

[dev-packages]

[requires]
python_version = "3.10"
