<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
        />
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="<%= htmlWebpackPlugin.options.description %>"
        />
        <meta content="/assets/apple-touch-icon.png" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="<%= htmlWebpackPlugin.options.public_url %>" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
        <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
        <meta property="og:image" content="/assets/apple-touch-icon.png" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="<%= htmlWebpackPlugin.options.public_url %>" />
        <meta property="twitter:url" content="https://<%= htmlWebpackPlugin.options.public_url %>" />
        <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>" />
        <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>" />
        <meta name="twitter:image" content="/assets/apple-touch-icon.png" />
    </head>

    <body>
        <div id="root"></div>
    </body>

    
</html>
